
<h3>Developer / Data engineer / GIS engineer</h3>
<hr>
<p>Coding in: <b>Python</b>, <b>Go</b>, <b>JavaScript</b>, Clojure, C++, Bash, C#, Matlab</p>
<p>Working with: <b>Django</b>, <b>Node.js</b>, Airflow, Kafka, Metabase, Cube.js, Keras (TensorFlow), OpenCV, PostgreSQL, MongoDB, Flask, AWS, Bootstrap</p>
<p>Working on: <b>Linux</b>, <b>macOS</b>, Windows</p>
<p>Interested in: artifical intelligence, computer vision, web development, *nix systems, IT security, <a href="/projects/ar/">AR</a>, <a href="/projects/pathfinder/">geoinformatics</a></p>
<p>Hobbies: wall climbing, cycling, coding</p>
<a href='http://www.catb.org/hacker-emblem/'><img src='http://www.catb.org/hacker-emblem/glider-small.png' alt='hacker emblem' /></a>